
         
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading"><b>基本信息</b></div>
            <table class="table base_info">
                <tr><td><b>当前用户</b></td><td>{{user.name}}</td></tr>
                <tr><td><b>联系方式</b></td><td>{{user.mobile}}</td></tr>
                <tr><td><b>员工编号</b></td><td>{{user.no}}</td></tr>
                <tr><td><b>所属单位</b></td><td>{{user.company_name}}</td></tr>
            </table>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading"><b>平台服务</b></div>
            <div class="row">
                <img src="./images/service.jpg" height="200"  class="img_service col-md-5" />
                <div class="col-md-7">
                    <ul class="service_list list-group ">
                        <li class="list-group-item">在线客服:22875750</li>
                        <li class="list-group-item">技术咨询:22875750</li>
                        <li class="list-group-item">投诉建议:22875750</li>
                        <li class="list-group-item">同业维护:22875750</li>
                    </ul>
                </div>

            </div>
        </div>
    </div><!-- /col-md-4 -->
    <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading"><b>系统公告</b></div>
            <table class="table note_list">
                <tbody class="ret">

                </tbody>
            </table>
        </div>
    </div><!-- /col-md-8 -->
</div><!-- /row -->
