

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline ordersearchform">
            <div class="col-md-6">
                <div class="input-group">
                <input type="text" class="form-control" 
                        datepicker-popup="{{format}}" 
                        ng-model="dt1"
                        datepicker-popup="yyyy-mm-dd"
                        is-open="status1.opened" 
                        min-date="minDate" 
                        max-date="maxDate" 
                        datepicker-options="dateOptions" 
                        date-disabled="disabled(date, mode)" 
                        ng-required="true" 
                        close-text="Close" 
                        placeholder="请输入开始时间" readonly/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open1($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
                </div>
                      &nbsp;&nbsp;~&nbsp;&nbsp;            
                <div class="input-group">
                <input type="text" class="form-control" 
                        datepicker-popup="{{format}}" 
                        ng-model="dt2"
                        datepicker-popup="yyyy-mm-dd"
                        is-open="status2.opened" 
                        min-date="minDate" 
                        max-date="maxDate" 
                        datepicker-options="dateOptions" 
                        date-disabled="disabled(date, mode)" 
                        ng-required="true" 
                        close-text="Close" 
                        placeholder="请输入结束时间" readonly/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open2($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
                </div>      

            <button type="button" class="btn btn-default search" ng-click="load()">立即搜索</button>
            </div>
            <div class="col-md-6 text-right">
                
                <label class="h3" style="margin:0px;">合计：</label>&nbsp;&nbsp;
                <label>金额</label> {{allamount | number:2}} 元&nbsp;&nbsp;
                <label>退款</label> {{allrefund | number:2}} 元&nbsp;&nbsp;
                <label>补贴支出</label> {{allsubsidy | number:2}} 元&nbsp;&nbsp;
            </div>
        </div>
    </div>
</div><!-- searchArea -->
 
 
<table class="table table-bordered" ng-repeat="target in targets">
  <thead>
    <tr>
      <th class="col-md-2 text-center">收客日期</th>
      <th class="col-md-1 text-center">订单状态</th>
      <th class="col-md-2 text-center">团线名称</th>
      <th class="col-md-1 text-center">订单号</th>
      <th class="col-md-1 text-center">订单人数</th>
      <th class="col-md-2 text-center">团线信息</th>
      <th class="col-md-1 text-center">总金额(元)</th>
      <th class="col-md-1 text-center">退款(元)</th>
      <th class="col-md-1 text-center">补贴支出(元)</th>
    </tr>
  </thead>
  <tbody >
    <tr ng-repeat='order in target.arr'>
      <td class="col-md-2 text-center">{{order.order_time}}</td>
      <td class="col-md-1 text-center">{{order.areaname}}</td>
      <td class="col-md-2 text-center">{{order.line_title}}</td>
      <td class="col-md-1 text-center">{{order.code}}</td>
      <td class="col-md-1 text-center">{{order.adult}}成人<br>{{order.child}}儿童</td>
      <td class="col-md-2 text-center">发团 : {{order.start_group}}<br>回团 : {{order.back_group}}</td>
      <td class="col-md-1 text-center">{{order.amount}}</td>
      <td class="col-md-1 text-center">{{order.refund}}</td>
      <td class="col-md-1 text-center">{{order.subsidy}}</td>
    </tr>
    <tr>
      <td class="col-md-2 text-center">合计</td>
      <td class="col-md-1 text-center"></td>
      <td class="col-md-2 text-center"></td>
      <td class="col-md-1 text-center"></td>
      <td class="col-md-1 text-center"></td>
      <td class="col-md-2 text-center"></td>
      <td class="col-md-1 text-center">{{target.allamount | number:2}}</td>
      <td class="col-md-1 text-center">{{target.allrefund | number:2}}</td>
      <td class="col-md-1 text-center">{{target.allsubsidy | number:2}}</td>
    </tr>
  </tbody>
</table>



 
