<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">{{linename}}</div>

  <div class="panel-body">

    <div class="panel panel-default" ng-repeat="order in orders">
      <div class="panel-heading" >
      {{order.contract_name}} {{order.contract_sex}}&nbsp;&nbsp;
      身份证 : {{order.contract_cardno}}&nbsp;&nbsp;
      电话 : {{order.contract_mobile}}&nbsp;&nbsp;
      <span style="color:red;">[{{order.pay_state}}]</span>
      </div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="per in order.pers" >{{per.name}} {{per.sex}}</li>
      </ul>
    </div>

    
  </div>





</div>